html,
body {
    height: 100%;
    margin: 0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: #000;
}

.air {
    clear: both;
    height: 3em;
}
.airmin {
    clear: both;
    height: 1.5em;
}
.airmik {
    clear: both;
    height: 0.75em;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.column {
    padding: 0 2.5em;
}

.column-double {
    padding: 0 5em;
}

.part {
    max-width: 1400px;
    margin: 0 auto;
}

.select-container {
    max-width: 50%;
}

form textarea {
    width: 400px;
    border-radius: 2em;
    padding: 1em;
    height: 100px;
    resize: none;
}

.button-base {
    display: block;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 1em;
    border: none;
    background-color: #cccccc;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-menu {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 0.5em;
}

.button-base:hover {
    background-color: #939393;
}

.button-base.button-blue { background-color: #0088cc; }
.button-base.button-blue:hover { background-color: #005580; }

.button-base.button-red { background-color: #a12e2e; color: #fff; }
.button-base.button-red:hover { background-color: #6d1d1d; }
.button-base.button-red:disabled {background-color: #723a3a; color:#cccccc; }

.flex {display:flex;}
.flex-wrap {flex-wrap:wrap;}
.flex-no-shrink {flex-shrink:0;}
.flex-no-grow {flex-grow:0;}
.flex-column {flex-direction:column;}
.flex-justify-start {justify-content:flex-start;}
.flex-justify-end {justify-content:flex-end;}
.flex-justify-center {justify-content:center;}
.flex-justify-space-between {justify-content:space-between;}
.flex-justify-space-evenly {justify-content:space-evenly;}
.flex-align-start {align-items:flex-start;}
.flex-align-end {align-items:flex-end;}
.flex-align-center {align-items:center;}
.flex-align-stretch {align-items:stretch;}
.col2 {width:50%;}
.col3 {width:33.3333%;}
.col3-2 {width:66.6667%;}
.col4 {width:25%;}
.col4-3 {width:75%;}
.col5 {width:20%;}
.col5-2 {width:40%;}
.col5-3 {width:60%;}
.col5-4 {width:80%;}
.col6 {width:16.6667%;}
.col6-5 {width:83.3333%;}
.col8 {width:12.5%}
.text-align-center {text-align: center;}