@(basket: Form[UpdateBasketForm],user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(routes.BasketController.updateBasketHandle()) {
        <input name="id" id="id" value="@basket("id").value" type="hidden" />

        <select name="user" id="user">
        @for(cli <- user){
            @if(cli.id==basket("user").value.getOrElse(0)) {
                <option value="@cli.id" selected>@cli.lastName</option>
            }else{
                <option value="@cli.id">@cli.lastName</option>
            }

        }
        </select>
        <input name="isOrdered" id="isOrdered" value="@basket("isOrdered").value" type="number" />

        <div class="buttons">
            <input type="submit" value="Update Basket"/>
        </div>
    }