@(basket: Form[CreateBasketForm],user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.BasketController.addBasketHandle()) {

    <select name="user" id="user">
    @for(use <- user){
        <option value="@use.id">@use.lastName</option>
    }
    </select>
    <input name="isOrdered" id="isOrdered" value="@basket("isOrdered").value" type="number" />

    <div class="buttons">
        <input type="submit" value="Add Basket"/>
    </div>
}