@(favorite: Form[UpdateFavoriteForm],user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(routes.FavoriteController.updateFavoriteHandle()) {
        <input name="id" id="id" value="@favorite("id").value" type="hidden" />

        <select name="user" id="user">
        @for(use <- user){
            @if(use.id.toString==favorite("user").value.getOrElse(0)) {
                <option value="@use.id" selected>@use.lastName</option>
            }else{
                <option value="@use.id">@use.lastName</option>
            }

        }
        </select>

        <div class="buttons">
            <input type="submit" value="Update Favorite"/>
        </div>
    }