@(order: Form[CreateOrderForm],payment: Seq[Payment], basket: Seq[Basket])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.OrderController.addOrderHandle()) {

    <select name="payment" id="payment">
    @for(pay <- payment){
        <option value="@pay.id">@pay.name</option>
    }
    </select>

    <select name="basket" id="basket">
    @for(bask <- basket){
        <option value="@bask.id">@bask.id</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Order"/>
    </div>
}